.cal-header {
  background-color: #e2e2e2;
}

.cal-header-list {
  list-style-type: none;
}

.month-title {
  display: inline;
}

.gray {
  background-color: gray;
}

.blue {
  background-color: blue;
}
